상하위 5% 값의 합을 구할 때, 상하위 5% 위치에 있는 모든 값들의 합으로 생각하여 다음과 같이 구하였었다.

```py
df[(df['f5'] >= 0.95) | (df['f5'] <= 0.05)].sum()
```

풀이를 보니 상하위 5%의 '값'의 합이었다. (quantile을 이용해야함을 의미)

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [2]:
# EDA
df.f5.isnull().sum()

0

In [3]:
df.f5

0     91.297791
1     60.339826
2     17.252986
3     52.667078
4     29.269869
        ...
95    52.667078
96    67.886373
97    98.429899
98    97.381034
99    33.308999
Name: f5, Length: 100, dtype: float64

In [4]:
# min-max scale 
scaler = MinMaxScaler()
df.f5 = scaler.fit_transform(df[['f5']])
df.f5

0     0.919533
1     0.570252
2     0.084129
3     0.483685
4     0.219708
        ...
95    0.483685
96    0.655395
97    1.000000
98    0.988166
99    0.265279
Name: f5, Length: 100, dtype: float64

In [5]:
df.f5.quantile(0.95) + df.f5.quantile(0.05)

1.0248740983597389