## Q. 수학, 영어 점수 중 사람과 과목에 상관없이 90점 이상인 점수의 평균을 정수로 구하시오 (소수점 버림)
- updated 22.12.2

In [29]:
import pandas as pd
df = pd.DataFrame({'Name': {0: '김딴짓', 1: '박분기', 2: '이퇴근'},
                   '수학': {0: 90, 1: 93, 2: 85},
                   '영어': {0: 92, 1: 84, 2: 86},
                   '국어': {0: 91, 1: 94, 2: 83},})

df

  Name  수학  영어  국어
0  김딴짓  90  92  91
1  박분기  93  84  94
2  이퇴근  85  86  83

In [30]:
#your code

df1 = df[['수학', '영어']].melt()
int(df1[df1.value >= 90].value.mean())

91

In [31]:
# 풀이
df = pd.melt(df, id_vars=['Name'], value_vars=['수학', '영어'])
cond = df['value'] >= 90
print(int(df[cond]['value'].mean()))

91