### 주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오
- 데이터셋 : basic2.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [17]:
import pandas as pd

df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [18]:
df.Date = pd.to_datetime(df['Date'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [20]:
df = df.set_index(['Date'])
df

               Sales      PV      UV  Events
Date
2022-01-01  22711525  397349  4421.0       1
2022-01-02     36779    3969  2289.0       0
2022-01-03  13943875  373890     NaN       1
2022-01-04   8088593  142054  2157.0       0
2022-01-05   2395374  190684     NaN       0
...              ...     ...     ...     ...
2023-12-27  33846609  415067  7360.0       1
2023-12-28   3659566  208601  2262.0       1
2023-12-29   1164008   14309   193.0       0
2023-12-30   3977696   60935     NaN       0
2023-12-31   3719764   60963  1507.0       0

[730 rows x 4 columns]

In [28]:
# pv값을 가진 시차가 있는 새로운 컬럼 만들기
df.PV.shift(periods=1, freq='D')[:-1]

Date
2022-01-02    397349
2022-01-03      3969
2022-01-04    373890
2022-01-05    142054
2022-01-06    190684
               ...
2023-12-27     51258
2023-12-28    415067
2023-12-29    208601
2023-12-30     14309
2023-12-31     60935
Name: PV, Length: 729, dtype: int64

In [33]:
# 새로운 컬럼 df에 추가하기

df['lag_PV'] = df.PV.shift(periods=1, freq='D')[:-1]
df

               Sales      PV      UV  Events    lag_PV
Date
2022-01-01  22711525  397349  4421.0       1       NaN
2022-01-02     36779    3969  2289.0       0  397349.0
2022-01-03  13943875  373890     NaN       1    3969.0
2022-01-04   8088593  142054  2157.0       0  373890.0
2022-01-05   2395374  190684     NaN       0  142054.0
...              ...     ...     ...     ...       ...
2023-12-27  33846609  415067  7360.0       1   51258.0
2023-12-28   3659566  208601  2262.0       1  415067.0
2023-12-29   1164008   14309   193.0       0  208601.0
2023-12-30   3977696   60935     NaN       0   14309.0
2023-12-31   3719764   60963  1507.0       0   60935.0

[730 rows x 5 columns]

In [36]:
# 1월 1일 결측치 채우기 (1월 2일 데이터로)
df.lag_PV[0] = df.lag_PV[1]
df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               Sales      PV      UV  Events    lag_PV
Date
2022-01-01  22711525  397349  4421.0       1  397349.0
2022-01-02     36779    3969  2289.0       0  397349.0
2022-01-03  13943875  373890     NaN       1    3969.0
2022-01-04   8088593  142054  2157.0       0  373890.0
2022-01-05   2395374  190684     NaN       0  142054.0
...              ...     ...     ...     ...       ...
2023-12-27  33846609  415067  7360.0       1   51258.0
2023-12-28   3659566  208601  2262.0       1  415067.0
2023-12-29   1164008   14309   193.0       0  208601.0
2023-12-30   3977696   60935     NaN       0   14309.0
2023-12-31   3719764   60963  1507.0       0   60935.0

[730 rows x 5 columns]

In [39]:
# Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합 구하기

df[(df.Events == 1) & (df.Sales <= 1000000)].lag_PV.sum()

1894876.0

### 풀이

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [42]:
# 결측치 확인
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [43]:
#1일 차이가 나는 시차 특성 만들기
df['previous_PV'] = df['PV'].shift(1)
df.head()

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1          NaN
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0

In [44]:
# 1일 씩 미뤘음으로 가장 앞이 결측값이 됨 (바로 뒤의 값으로 채움)
df['previous_PV'] = df['previous_PV'].fillna(method = 'bfill')
df.head()

         Date     Sales      PV      UV  Events  previous_PV
0  2022-01-01  22711525  397349  4421.0       1     397349.0
1  2022-01-02     36779    3969  2289.0       0     397349.0
2  2022-01-03  13943875  373890     NaN       1       3969.0
3  2022-01-04   8088593  142054  2157.0       0     373890.0
4  2022-01-05   2395374  190684     NaN       0     142054.0

In [45]:
# 조건에 맞는 1일 이전 PV의 합
cond = (df['Events'] == 1) & (df['Sales'] <= 1000000)
print(df[cond]['previous_PV'].sum())

1894876.0