##### 1번 단일표본 T-검정 실습
주어진 데이터에는 블랙 체리나무 31그로의 둘레와 높이, 부피가 저장되어 있다. <br>
이 표본의 평균이 모평균과 일치하는지 단일표본 t-검정을 통해 답하고자 한다. 가설은 아래와 같다

-  $H_0 :  \overline{X} = 75$
-  $H_1 : \overline{X}  \neq  75$
   -  Girth : 둘레
   -  Height : 높이
   -  Volume : 부피
단, 데이터의 각 변수들은 정규 분포를 만족한다고 가정한다.

In [2]:
import pandas as pd
df = pd.read_csv('./trees.csv')
df

    Girth  Height  Volume
0     8.3      70    10.3
1     8.6      65    10.3
2     8.8      63    10.2
3    10.5      72    16.4
4    10.7      81    18.8
5    10.8      83    19.7
6    11.0      66    15.6
7    11.0      75    18.2
8    11.1      80    22.6
9    11.2      75    19.9
10   11.3      79    24.2
11   11.4      76    21.0
12   11.4      76    21.4
13   11.7      69    21.3
14   12.0      75    19.1
15   12.9      74    22.2
16   12.9      85    33.8
17   13.3      86    27.4
18   13.7      71    25.7
19   13.8      64    24.9
20   14.0      78    34.5
21   14.2      80    31.7
22   14.5      74    36.3
23   16.0      72    38.3
24   16.3      77    42.6
25   17.3      81    55.4
26   17.5      82    55.7
27   17.9      80    58.3
28   18.0      80    51.5
29   18.0      80    51.0
30   20.6      87    77.0

In [9]:
from scipy import stats

# 표본평균을 구하시오
print(df.Height.mean())

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 둘째자리까지 계산)
st, pv = stats.ttest_1samp(df.Height, 75)
print(round(st, 2))

# 위의 통계량에 대한 p-value값을 구하고(반올림하여 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오
print(round(pv, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

76.0
0.87
0.3892
귀무가설 채택

##### 2번 독립표본 T-검정 실습
주어진 데이터에는 기니피그 60마리의 치아 길이, 투여한 비타민 C 종류, 투여량이 저장되어 있다. <br>
오렌지주스를 투여받은 기니피그의 치아 길이 평균이 아스코르브산을 투여받은 기니피그의 치아 길이 평균과 일치하는지 독립표본 T-검정을 통해 답하고자 한다. <br>
가설은 아래와 같다.

-  $H_0 :  \overline{X_{OJ}} = \overline{X_{VC}}$
-  $H_1 : \overline{X_{OJ}}  \neq \overline{X_{VC}}$
   -  len : 치아길이
   -  supp : 투여한 약제(VC: 아스코르브산, OJ: 오렌지주스)
   -  dose : 투여량
단, 데이터의 각 변수들은 정규분포를 만족하며, 두 그룹은 등분산을 띤다.

In [10]:
import pandas as pd
df = pd.read_csv('./toothgrowth.csv')
df

     len supp  dose
0    4.2   VC   0.5
1   11.5   VC   0.5
2    7.3   VC   0.5
3    5.8   VC   0.5
4    6.4   VC   0.5
5   10.0   VC   0.5
6   11.2   VC   0.5
7   11.2   VC   0.5
8    5.2   VC   0.5
9    7.0   VC   0.5
10  16.5   VC   1.0
11  16.5   VC   1.0
12  15.2   VC   1.0
13  17.3   VC   1.0
14  22.5   VC   1.0
15  17.3   VC   1.0
16  13.6   VC   1.0
17  14.5   VC   1.0
18  18.8   VC   1.0
19  15.5   VC   1.0
20  23.6   VC   2.0
21  18.5   VC   2.0
22  33.9   VC   2.0
23  25.5   VC   2.0
24  26.4   VC   2.0
25  32.5   VC   2.0
26  26.7   VC   2.0
27  21.5   VC   2.0
28  23.3   VC   2.0
29  29.5   VC   2.0
30  15.2   OJ   0.5
31  21.5   OJ   0.5
32  17.6   OJ   0.5
33   9.7   OJ   0.5
34  14.5   OJ   0.5
35  10.0   OJ   0.5
36   8.2   OJ   0.5
37   9.4   OJ   0.5
38  16.5   OJ   0.5
39   9.7   OJ   0.5
40  19.7   OJ   1.0
41  23.3   OJ   1.0
42  23.6   OJ   1.0
43  26.4   OJ   1.0
44  20.0   OJ   1.0
45  25.2   OJ   1.0
46  25.8   OJ   1.0
47  21.2   OJ   1.0
48  14.5   OJ   1.0
49  27.3   OJ   1.0
50  25.5   OJ   2.0
51  26.4   OJ   2.0
52  22.4   OJ   2.0
53  24.5   OJ   2.0
54  24.8   OJ   2.0
55  30.9   OJ   2.0
56  26.4   OJ   2.0
57  27.3   OJ   2.0
58  29.4   OJ   2.0
59  23.0   OJ   2.0

In [34]:
from scipy import stats

# 표본평균 X_OJ, X_VC를 구하시오 (반올림 소수점 둘째자리까지 계산)
print("오렌지주스 표본평균: ", round(df[df['supp']=='OJ'].len.mean(), 2))
print("아스코르브산 표본평균: ", round(df[df['supp']=='VC'].len.mean(), 2))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림 소수점 둘째자리까지 계산)
oj = df[df.supp == 'OJ'].len
vc = df[df.supp == 'VC'].len

st, pv = stats.ttest_ind(vc, oj, equal_var=True)
print(round(st, 2))

# 위의 통계량에 대한 p-value를 구하고(반올림 소수점 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오
print(round(pv, 2))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

오렌지주스 표본평균:  20.66
아스코르브산 표본평균:  16.96
-1.92
0.06
귀무가설 채택

##### 3번 쌍체표본 T-검정 실습
주어진 데이터에는 여러 지역에서 스프레이를 뿌리기 전에 측정한 곤충의 수와 스프레이를 뿌린 다음의 곤충의 수가 저장되어 있다. <br>
해당 스프레이가 구제 효과가 있는지(즉, 스프레이를 뿌린 뒤 곤충의 수가 감소했는지) 쌍체표본 T-검정을 통해 답하고자 한다. <br>
가설은 다음과 같다.

-  $ \overline{\mu_d}$ : (살충제를 뿌린 후의 곤충 수 - 살충제를 뿌리기 전의 곤충 수)의 평균
-  $H_0 : \overline{\mu_d} \geq 0$
-  $H_1 : \overline{\mu_d} < 0$
   -  before_spr : 살충제를 뿌리기 전 곤충의 수
   -  after_spr : 살충제를 뿌린 뒤 곤충의 수
  
단, (살충제를 뿌린 후의 곤충 수 - 살충제를 뿌리기 전의 곤충 수)는 정규성을 만족한다.

In [35]:
import pandas as pd
df = pd.read_csv('./insectsprays.csv')
df

    before_spr  after_spr
0           10          0
1            7          1
2           20          7
3           14          2
4           14          3
5           12          1
6           10          2
7           23          1
8           17          3
9           20          0
10          14          1
11          13          4
12          11          3
13          17          5
14          21         12
15          11          6
16          16          4
17          14          3
18          17          5
19          17          5
20          19          5
21          21          5
22           7          2
23          13          4
24          11          3
25           9          5
26          15          3
27          22          5
28          15          3
29          16          6
30          13          1
31          10          1
32          26          3
33          26          2
34          24          6
35          13          4

In [43]:
from scipy import stats

# (살충제를 뿌린 후의 곤충 수 - 살충제를 뿌리기 전의 곤충 수)의 평균의 표본평균을 구하시오 (반올림 소수 둘째자리까지 계산)
print((df['after_spr'] - df['before_spr']).mean())

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 넷째자리까지 계산)
st, pv = stats.ttest_rel(df['after_spr'], df['before_spr'], alternative='less')
print(round(st, 4))

# 위의 통계량에 대한 p-value값을 구하고(반올림하여 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(pv, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

-12.0
-14.8933
0.0
귀무가설 기각

##### 4번 일원분산분석
주어진 데이터는 붓꽃의 종, 꽃받침 길이와 너비, 꽃잎의 길이와 너비를 기록한 데이터이다. <br>
이를 이용하여 붓꽃의 종에 따라 꽃받침의 너비가 차이나는지 일원분산분석을 통해 답하고자 한다.<br>
가설은 다음과 같다.

-  $H_0 : \overline{X_1} = \overline{X_2} = \overline{X_3}$
-  $H_1 : {} \sim H_0 (H_0$가 아니다.)
  
단, 주어진 데이터가 정규성과 등분산성을 만족한다고 가정한다.

In [44]:
import pandas as pd
df = pd.read_csv('./iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [50]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [72]:
from scipy import stats

# versicolor 종의 평균 꽃받침 너비를 구하시오. (반올림하여 소수 둘째자리까지 계산)
print(round(df[df['species']=='versicolor'].sepal_width.mean(), 2))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소수 둘째자리까지 계산)
# 분산분석을 진행하기 위하여 붓꽃 종별 꽃받침 너비 값들을 각각 X1, X2, X3에 저장 후 진행 (인덱스가 모두 같아야함)
X1 = df[df['species']=='setosa']['sepal_width']
X2 = df[df['species']=='versicolor']['sepal_width']
X3 = df[df['species']=='virginica']['sepal_width']

st = stats.f_oneway(X1, X2, X3)
print(round(st.statistic, 2))

# 위의 통계량에 대한 p-value값을 구하고(반올림하여 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(st.pvalue, 4))
if st.pvalue < 0.04:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

2.77
49.16
0.0
귀무가설 기각

##### 5번 카이제곱검정(적합도 검정) 실습 ★
주어진 데이터에서 A 회사의 직원 200명을 대상으로 현재 사용하고 있는 스마트폰 제조사를 조사한 결과이다. <br>
그리고 최근 조사에 따르면 국내 스마트폰 제조사 점유율은 삼성 60%, 애플 30%, 기타 10%라고 한다. <br>
이를 이용하여 A 회사의 직원들이 사용하는 스마트폰 제조사 분포가 국내 스마트폰 제조사 점유율 분포와 동일한지 카이제곱검정을 통해 답하고자 한다. <br>
가설은 다음과 같다. 

-  $H_0 : $ A 회사 직원들이 사용하는 스마트폰 제조사 분포는 국내 스마트폰 제조사 점유을 분포를 따른다.
-  $H_1 : $ A 회사 직원들이 사용하는 스마트폰 제조사 분포는 국내 스마트폰 제조사 점유을 분포를 따르지 않는다.

In [95]:
import pandas as pd
df = pd.read_csv('./cellphone.csv')
df

      id 제조사
0      1  삼성
1      2  애플
2      3  삼성
3      4  애플
4      5  애플
..   ...  ..
195  196  삼성
196  197  삼성
197  198  삼성
198  199  애플
199  200  애플

[200 rows x 2 columns]

In [107]:
from scipy import stats

count_df = df.groupby('제조사').count()
print(count_df)

# 삼성 제조사 스마트폰 사용 직원 수에서 애플 제조사 스마트폰 사용 직원 수를 뺀 값을 정수로 출력하시오.
print(len(df[df['제조사']=='삼성']) - len(df[df['제조사']=='애플']))

# 문제에서 제시된 국내 스마트폰 제조사 점유율을 이용하여 기대 빈도를 계산하고, 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림 소수 둘째자리까지 계산)
total = len(df)
expected = [int(total*0.1), # '기타' 제조사 기대빈도
            int(total*0.6), # '삼성' 제조사 기대빈도
            int(total*0.3)] # '애플' 제조사 기대빈도 >> count_df 순서에 맞춰야함
print(expected) # 기대빈도

result = stats.chisquare(count_df['id'].values, f_exp=expected)
print(round(result.statistic, 2))

# 위의 통계량에 대한 p-value를 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(result.pvalue, 4))
if result.pvalue < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

      id
제조사
기타     5
삼성   117
애플    78
39
[20, 120, 60]
16.73
0.0002
귀무가설 기각

##### 6번 카이제곱검정(독립성 검정) 실습 ★
주어진 데이터는 A 대학의 학생 300명을 대상으로 각 학생이 속한 단과대학과 이번 학기 수강 과목 수를 조사한 결과이다. <br>
이를 이용하여 단과대학별로 수강 과목 수에 차이가 있는지 카이제곱검정을 통해 답하고자 한다.<br>
가설은 다음과 같다. 

-  $H_0 : $ 단과대학과 수강 과목 수는 관련이 없다.
-  $H_1 : $ 단과대학과 수강 과목 수는 관련이 있다.

In [108]:
import pandas as pd
df = pd.read_csv('./student.csv')
df

      ID  단과대학 수강 과목 수
0      1  경영대학   4개 이하
1      2  경영대학   4개 이하
2      3  경영대학   4개 이하
3      4  경영대학   4개 이하
4      5  경영대학   4개 이하
..   ...   ...     ...
295  296  공과대학   6개 이상
296  297  공과대학   6개 이상
297  298  공과대학   6개 이상
298  299  공과대학   6개 이상
299  300  공과대학   6개 이상

[300 rows x 3 columns]

In [140]:
from scipy import stats

# 주어진 데이터로 단과대학과 수강 과목 수로 분할표를 만들었을 때, 수강 과목 수가 '6개 이상'인 학생 수가 가장 많은 단과대학을 출력하시오
table = pd.crosstab(df['단과대학'], df['수강 과목 수'])
print(table)
print(table[table['6개 이상']==table['6개 이상'].max()].index[0])

# 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림 소수 둘째자리까지 계산)
X1 = table.loc['경영대학', :]
X2 = table.loc['자연대학', :]
X3 = table.loc['공과대학', :]

result = stats.chi2_contingency([X1, X2, X3])
print(round(result.statistic, 2))

# 위의 통계량에 대한 p-value 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(result.pvalue, 4))
if result.pvalue < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8
경영대학
30.13
0.0
귀무가설 기각

##### 마무리 문제 1번
주어진 데이터에는 1973년 5월 사이에서 9월 사이 153일동안 뉴욕의 대기질 측정 데이터가 저장되어 있다. <br>
이 기간 중 풍속(mph)의 평균이 뉴욕의 평균 풍속 10mph와 일치하는지 단일표본 t-검정을 통해 답하고자 한다. <br>
가설은 아래와 같다.

-  $H_0 :  \overline{X} = $ 10
-  $H_1 : \overline{X}  \neq $ 10
   -  Ozone : 오존 농도
   -  Solar.R : 태양열
   -  Wind : 풍속
   -  Temp : 온도(화씨)
   -  Month : 월
   -  Day : 일

단, 데이터의 Wind 변수는 정규 분포를 만족한다고 가정한다.

In [146]:
import pandas as pd
df = pd.read_csv('./airquality.csv')
df

     Ozone  Solar.R  Wind  Temp  Month  Day
0     41.0    190.0   7.4    67      5    1
1     36.0    118.0   8.0    72      5    2
2     12.0    149.0  12.6    74      5    3
3     18.0    313.0  11.5    62      5    4
4      NaN      NaN  14.3    56      5    5
..     ...      ...   ...   ...    ...  ...
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [153]:
from scipy import stats

# 풍속에 대한 표본평균을 구하시오 (반올림하여 소수 둘째자리까지 계산)
print(round(df['Wind'].mean(), 2))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 둘째자리까지 계산)
st, pv = stats.ttest_1samp(df['Wind'], 10)
print(round(st, 2))

# 위의 통계량에 대한 p-value 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(pv, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

9.96
-0.15
0.8816
귀무가설 채택

##### 마무리 문제 2번
주어진 데이터에는 4가지 종류의 식단으로 구분된 병아리들의 무게를 측정한 데이터가 저장되어 있다. <br>
이 중 1번 식단을 먹은 병아리의 평균 무게가 4번 식단을 먹은 병아리의 평균 무게와 일치하는지 독립표본 t-검정을 통해 답하고자 한다. <br>
가설은 아래와 같다.

-  $H_0 :  \overline{X_1} = \overline{X_4}$
-  $H_1 : \overline{X}  \neq \overline{X_4}$
   -  weight : 병아리의 무게
   -  Diet : 식단의 종류

단, 데이터의 weight 변수들은 정규 분포를 만족하며, 두 그룹은 등분산을 띠지 않는다.

In [163]:
import pandas as pd
df = pd.read_csv('./chickweight.csv')
df

     weight  Diet
0        42     1
1        51     1
2        59     1
3        64     1
4        76     1
..      ...   ...
573     175     4
574     205     4
575     234     4
576     264     4
577     264     4

[578 rows x 2 columns]

In [169]:
from scipy import stats

# 1번 식단, 4번 식단에 대한 표본평균을 구하시오 (반올림하여 소수 둘째자리까지 계산)
samp1 = df[df['Diet'] == 1].weight
samp4 = df[df['Diet'] == 4].weight
print("1번 식단에 대한 표본 평균: ", round(samp1.mean(), 2))
print("4번 식단에 대한 표본 평균: ", round(samp4.mean(), 2))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 둘째자리까지 계산)
st, pv = stats.ttest_ind(samp1, samp4, equal_var = False)
print(round(st, 2))

# 위의 통계량에 대한 p-value 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(pv, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

1번 식단에 대한 표본 평균:  102.65
4번 식단에 대한 표본 평균:  135.26
-4.41
0.0
귀무가설 기각

##### 마무리 문제 3번
주어진 데이터에는 학생 1,000명의 인종과 과목별 시험 성적이 담겨져 있다. <br>
인종(A그룹, B그룹, C그룹, D그룹)에 따라 수학 성적에 차이가 있는지 일원분산분석을 통해 답하고자 한다. <br>
가설은 아래와 같다.

-  $H_0 : \overline{X_A} = \overline{X_B} = \overline{X_C} = \overline{X_D}$
-  $H_1 : {} \sim H_0 (H_0$가 아니다.)

단, 주어진 데이터가 정규 분포와 등분산을 만족한다고 가정한다.

In [170]:
import pandas as pd
df = pd.read_csv('./StudentsPerformance1.csv', encoding='cp949')
df

       ID       인종  수학 점수  읽기 점수  쓰기 점수
0       1      B그룹     72     72     74
1       2      C그룹     69     90     88
2       3      B그룹     90     95     93
3       4      A그룹     47     57     44
4       5      C그룹     76     78     75
..    ...      ...    ...    ...    ...
995   996  group E     88     99     95
996   997      C그룹     62     55     55
997   998      C그룹     59     71     65
998   999      D그룹     68     78     77
999  1000      D그룹     77     86     86

[1000 rows x 5 columns]

In [175]:
from scipy import stats

# 각 그룹에 대한 표본평균을 구하시오 (반올림하여 소수 둘째자리까지 계산)
group_A = df[df['인종']=='A그룹']['수학 점수']
group_B = df[df['인종']=='B그룹']['수학 점수']
group_C = df[df['인종']=='C그룹']['수학 점수']
group_D = df[df['인종']=='D그룹']['수학 점수']

print(round(group_A.mean(), 2), round(group_B.mean(), 2), round(group_C.mean(), 2), round(group_D.mean(), 2))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 둘째자리까지 계산)
st, pv = stats.f_oneway(group_A, group_B, group_C, group_D)
print(round(st, 2))

# 위의 통계량에 대한 p-value 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(pv, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

61.63 63.45 64.46 67.36
4.66
0.0031
귀무가설 기각

##### 마무리 문제 4번 ★
주어진 데이터에는 1,000명의 학생들의 성별과 학업 성적이 담겨져 있다. <br>
성별에 따라 학업 성적(우수, 보통, 낮음)에 차이가 있는지 카이제곱검정을 통해 답하고자 한다. <br>
가설은 아래와 같다.

-  $H_0 : $ 성별과 학업 성적은 관련이 없다.
-  $H_1 : $ 성별과 학업 성적은 관련이 있다.

In [176]:
import pandas as pd
df = pd.read_csv('./StudentsPerformance2.csv', encoding='cp949')
df

       ID  성별 부모 학력 수준 학업 성적
0       1  여성       중간    보통
1       2  여성       낮음    우수
2       3  여성       높음    우수
3       4  남성       중간    낮음
4       5  남성       낮음    보통
..    ...  ..      ...   ...
995   996  여성       높음    우수
996   997  남성       낮음    보통
997   998  여성       낮음    보통
998   999  여성       낮음    보통
999  1000  여성       낮음    우수

[1000 rows x 4 columns]

In [222]:
from scipy import stats

# 주어진 데이터로 성별과 학업 성적 간의 분할표를 만들었을 때, 학업 성적이 우수한 남학생 수와 여학생 수의 차이를 정수로 출력하시오.
table = pd.crosstab(df['성별'], df['학업 성적'])
print(table)

X1 = table.loc['남성', :]
X2 = table.loc['여성', :]

print(int(abs(X1['우수'] - X2['우수'])))

# 위의 가설을 검정하기 위한 검정통계량을 구하시오 (반올림하여 소수 둘째자리까지 계산)
result = stats.chi2_contingency([X1, X2])
print(round(result.statistic, 2))

# 위의 통계량에 대한 p-value 구하고(반올림 소수 넷째자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.
print(round(result.pvalue, 4))
if pv < 0.05:
    print("귀무가설 기각")
else:
    print("귀무가설 채택")

학업 성적   낮음   보통   우수
성별
남성     115  283   84
여성      83  313  122
38
12.41
0.002
귀무가설 기각